// Общие настройки и переменные
@import 'vars';

// Миксины
@import 'mixins';

// Шрифты
@import 'fonts';

// Настройки компонентов
@import 'settings';

// Компоненты страницы
@import './components/header';

// Тестовые стили
.page__body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--vh);
}
